<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.myapp">
    <!-- Bluetooth and LE Settings Start -->


    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <!-- Bluetooth and LE Settings End -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".main_activity_1"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Spograph" />
        <activity android:name=".steps_activity" />
        <activity android:name=".temp_activity" />
        <activity android:name=".log_in" />
        <activity android:name=".sign_up" />
        <activity android:name=".Profile_Page" />
        <activity android:name=".profile_details" />
        <activity android:name=".ScanActivity" />
        <activity android:name=".Calory_graph"/>
        <activity android:name=".Heart_rate_graph" />
        <activity android:name=".Chart_Activity" />
        <activity android:name=".forget"/>

        <activity android:name=".simple_load">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



    </application>


</manifest>
